@model IEnumerable<UniversityApp.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table class="table">
    <thead>
        <th>Enrollment Date</th>
        <th>Students</th>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
            <td>@item.StudentCount</td>
        </tr>
}
    </tbody>
</table>