<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniversityApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script type="text/javascript" src="~/js/main.js"></script>
</head>
<body>
    <div class="header">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">UniversityApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Students" asp-action="Index">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Courses" asp-action="Index">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Instructors" asp-action="Index">Instructors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Departments" asp-action="Index">Departments</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

    <div class="body">
        <!-- Your View will be rendered in place of RenderBody -->
        @RenderBody()
    </div>

    <div class="footer">

    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
