<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio Index</title>
    <link rel="stylesheet" href="~/libraries/bootstrap/css/bootstrap.min.css"/>
    <script src="~/libraries/jquery/js/jquery.min.js"></script>
    <script src="~/libraries/popper/js/popper.min.js"></script>
    <script src="~/libraries/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsible">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Hello, I'm Michael Choi</h1>
                </div>
                <img class="img-thumbnail" src="~/images/choi.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mi velit, rhoncus nec turpis et, ultrices pellentesque purus. Nunc sodales pretium est, et iaculis lorem iaculis in. Mauris quis nulla feugiat, bibendum augue suscipit, efficitur mauris. Sed ullamcorper, metus sed finibus vestibulum, neque dui rutrum tellus, id molestie dolor tortor id enim. Aenean et dui non quam pellentesque dictum sed aliquet arcu. Praesent ornare suscipit massa non condimentum. Suspendisse vitae quam id dolor pellentesque laoreet et in est. Mauris ultrices metus lorem, ut maximus nulla volutpat volutpat. Donec porttitor, metus fermentum aliquet euismod, augue lorem tincidunt augue, sed interdum nisi risus in turpis. Aliquam erat volutpat. Nam at tortor lorem. Morbi id orci quam. Aliquam luctus, neque sit amet suscipit scelerisque, lectus elit molestie tellus, nec sagittis sem ante eu nisl. Proin ut justo at dui elementum rutrum fermentum at sapien. Suspendisse non urna hendrerit, vestibulum velit vel, vestibulum nunc.</p>
            </div>
        </div>
    </div>
</body>
</html>