<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Database</title>
</head>
<body>
    <h1>Car Creation App</h1>
    <h2>Add Car</h2>
    <form action="/addCar" method="post">
        <label>Enter a make:</label>
        <input type="text" name="make">
        <label>Enter a model:</label>
        <input type="text" name="model">
        <button>Submit</button>
    </form>
    <h1>Cars Created</h1>
    @foreach (var car in ViewBag.result) {
        <p>@car["make"] -- @car["model"]</p>
    }
</body>
</html>